
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
#header2 {
    text-align: center;
    display: block;
    font-family: museo700;
    font-weight: bolder;
    font-size: 700%;
    font-style: italic;
    color: orange;
    /* background-color: #5680e9; */
    background-color: #1a1a1d;
    width: 100;
    padding: 2px 10px;
    font-style: italic;
  }
  #logo {
    font-size: 120px;
}


.products-container{
    padding-top: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    /* row-gap: 1em; */
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card:hover{
    border-color: #ffc107!important;
}



  @font-face {
    font-family: museo500;
    src: url(../fonts/MUSEO500.OTF);
  }
  
  @font-face {
    font-family: museo700;
    src: url(../fonts/MUSEO700-REGULAR.OTF);
  }

  #footer {
    background-color: #1a1a1d;
    position: fixed;
    bottom: 0;
    clear: both;
    color: orange;
    padding: 20px;
    width: 100%;
    text-align: center;
  }