.product-image{
    width: 100%;
    height: auto;
}
/* .nav-link:active{
    background-color: red; */
/* } */
/* .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
} */
.nav-pills .nav-link.active {
    background-color: #6c757d!important;
    color: #ffffff!important;
}
.nav-pills .nav-link {
    color: #6c757d!important;
}